.main-nav

  #main-nav
    background #FFF

    .nav
      a
        color #6d6d6d

      li.active
        color #F06870

    .navbar-brand
      text-transform: none
      color #6d6d6d

  @media (min-width: 768px) and (max-width: 992px)
    #main-nav
      .container
        padding 10px