doctype html    
html.no-js(lang='es-ES')

  head
    //- metas
    meta(charset='utf-8')
    title Laino Goxoak
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    //- favicon
    link(rel='shortcut icon', href='assets/images/favicon.ico')
    link(rel='apple-touch-icon', href='assets/images/apple-touch-icon.png')
    link(rel='apple-touch-icon', sizes='72x72', href='assets/images/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='114x114', href='assets/images/apple-touch-icon-114x114.png')
    //- css
    link(rel='stylesheet', href='stylesheets/app.css', type='text/css')
    link(rel='stylesheet', href='stylesheets/vendor.css', type='text/css')
    //- font
    link(href='http://fonts.googleapis.com/css?family=Raleway:400,300,200,500,600,700', rel='stylesheet', type='text/css')

  body(data-spy='scroll', data-target='#main-nav', data-offset='200')
    include templates/page-loader.jade
    include templates/main-nav.jade
    include templates/header.jade
    include templates/services.jade
    include templates/about.jade
    include templates/skills.jade
    include templates/portfolio.jade
    include templates/twitter.jade
    include templates/contact.jade
    include templates/footer.jade
    script(type='text/javascript', src='javascripts/app.js')
    script(type='text/javascript', src='javascripts/vendor.js')