.about
  section#about.add-padding.bg-color2
    div.container
      div.row
        div.col-sm-6.scrollimation.fade-right.d1
          img.img-responsive.polaroid(src='/images/about.jpg', alt='')
        div.col-sm-6.scrollimation.fade-left.d3
          h1.big-text
            | I am
            br
            | Jane Doe
          p.lead
            | I am Jane Doe, a twenty five year old designer from NY. I have graduated with a Bachelor degree of Graphic & Web Design, from the University of Pasadena.
          p
            | I am passionate about combining function, interaction and form to design for fitting user experiences that make people happy. I have a passion for creating challenging, intuitive and beautiful products. My design process is very hands-on and visual.