.about
  section#about.add-padding.bg-color2
    div.container
      div.row
        div.col-sm-6.scrollimation.fade-right.d1
          img.img-responsive.polaroid(src='/images/about.jpg', alt='')
        div.col-sm-6.scrollimation.fade-left.d3
          h1.big-text
            | Laino Goxoak
          p.lead
            | Somos dos chicas que endulzaremos vuestras fiestas dándoles un toque divertido y elegante.
          p.lead
            | Somos especialistas en repostería creativa, clásica, mesas dulces y postres personalizados.