section#contact.add-padding
  .container.text-center
    .row
      .col-sm-6.col-md-5.text-right.scrollimation.fade-up.d1
        h1.big-text Contáctanos
        p.lead
          | Si te gusta lo que hacemos no dudes en ponerte en contacto con nosotras
      form#contact-form.col-sm-6.col-md-offset-1.scrollimation.fade-left.d3(novalidate='')
        .form-group
          label.control-label(for='contact-name') Tu nombre
          .controls
            input#contact-name.form-control.requiredField(name='contactName', placeholder='Tu nombre', data-new-placeholder='Tu nombre', type='text', data-error-empty='¡Falta tu nombre!')
            i.fa.fa-user
        .form-group
          label.control-label(for='contact-mail') Tu email
          .controls
            input#contact-mail.form-control.requiredField(name='email', placeholder='Tu email', data-new-placeholder='Tu email', type='email', data-error-empty='¡Falta tu email!', data-error-invalid='¡El email no es válido!')
            i.fa.fa-envelope
        .form-group
          label.control-label(for='contact-message') Tu mensaje
          .controls
            textarea#contact-message.form-control.requiredField(name='comments', placeholder='Tu mensaje', data-new-placeholder='Tu mensaje', rows='6', data-error-empty='¡Falta tu mensaje!')
            i.fa.fa-comment
        p
          button#send-mail.btn.btn-color2.btn-block(name='submit', data-error-message='¡Error!', data-sending-message='Enviando...', data-ok-message='¡Mensaje enviado!')
            i.fa.fa-paper-plane
            | Envía el mensaje
        input#submitted(type='hidden', name='submitted', value='true')      