.footer
  footer#main-footer.add-padding.bg-color3.border-top-color2
    .container
      ul.social-links.text-center
        li
          a(href='#link')
            i.fa.fa-twitter.fa-fw
        li
          a(href='#link')
            i.fa.fa-facebook.fa-fw
        //- li
        //-   a(href='#link')
        //-     i.fa.fa-google-plus.fa-fw
        //- li
        //-   a(href='#link')
        //-     i.fa.fa-dribbble.fa-fw
        //- li
        //-   a(href='#link')
        //-     i.fa.fa-linkedin.fa-fw
      //- p.text-center © 2014 - All rights reserved
      //- p.text-center
      //-   a(href='https://wrapbootstrap.com/user/qthemes', target='_blank') Made by Qthemes