.main-nav
  div#main-nav.navbar.navbar-fixed-top
    div.container
      div.navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='#site-nav')
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand.scrollto(href='#home')
          | Laino Goxoak
      div#site-nav.navbar-collapse.collapse
        ul.nav.navbar-nav.navbar-right
          li.sr-only
            a.scrollto(href='#home') Inicio
          li
            a.scrollto(href='#about') Nosotras
          li
            a.scrollto(href='#services') Que hacemos
          li
            a.scrollto(href='#portfolio') Trabajos
          li
            a.scrollto(href='#contact') Contacto