.portfolio
  section#portfolio.add-padding
    .container
      h1.big-text.text-center.scrollimation.fade-in(data-i18n="main-nav.portfolio")
      #filter-works
        ul
          li.active.scrollimation.fade-right.d1
            a(href='#', data-filter='*', data-i18n="portfolio.all")
          li.scrollimation.fade-right
            a(href='#', data-filter='.creativa', data-i18n="portfolio.creative")
          li.scrollimation.fade-left
            a(href='#', data-filter='.mesas', data-i18n="portfolio.tables")
          li.scrollimation.fade-left.d1
            a(href='#', data-filter='.talleres', data-i18n="portfolio.workshop")
      #project-preview
        span.close-preview ×
        #project-slider.flexslider
        #project-content
    .container.masonry-wrapper
      #projects-container
        article.project-item.creativa
          img.img-responsive.project-image(src='/images/portfolio/15.jpg')
          .hover-mask
          .sr-only.project-description(data-images='/images/portfolio/15.jpg')
        article.project-item.creativa
          img.img-responsive.project-image(src='/images/portfolio/2.jpg')
          .hover-mask
          .sr-only.project-description(data-images='/images/portfolio/2.jpg')
        article.project-item.creativa
          img.img-responsive.project-image(src='/images/portfolio/3.jpg')
          .hover-mask
          .sr-only.project-description(data-images='/images/portfolio/3.jpg')
        article.project-item.creativa
          img.img-responsive.project-image(src='/images/portfolio/4.jpg')
          .hover-mask
          .sr-only.project-description(data-images='/images/portfolio/4.jpg')
        article.project-item.creativa
          img.img-responsive.project-image(src='/images/portfolio/5.jpg')
          .hover-mask
          .sr-only.project-description(data-images='/images/portfolio/5.jpg')
        article.project-item.mesas
          img.img-responsive.project-image(src='/images/portfolio/6.jpg')
          .hover-mask
          .sr-only.project-description(data-images='/images/portfolio/6.jpg')
        article.project-item.mesas
          img.img-responsive.project-image(src='/images/portfolio/7.jpg')
          .hover-mask
          .sr-only.project-description(data-images='/images/portfolio/7.jpg')
        article.project-item.creativa
          img.img-responsive.project-image(src='/images/portfolio/8.jpg')
          .hover-mask
          .sr-only.project-description(data-images='/images/portfolio/8.jpg')
        article.project-item.talleres
          img.img-responsive.project-image(src='/images/portfolio/9.jpg')
          .hover-mask
          .sr-only.project-description(data-images='/images/portfolio/9.jpg')
        article.project-item.creativa
          img.img-responsive.project-image(src='/images/portfolio/10.jpg')
          .hover-mask
          .sr-only.project-description(data-images='/images/portfolio/10.jpg')
        article.project-item.creativa
          img.img-responsive.project-image(src='/images/portfolio/11.jpg')
          .hover-mask
          .sr-only.project-description(data-images='/images/portfolio/11.jpg')
        article.project-item.creativa
          img.img-responsive.project-image(src='/images/portfolio/12.jpg')
          .hover-mask
          .sr-only.project-description(data-images='/images/portfolio/12.jpg')
        article.project-item.creativa
          img.img-responsive.project-image(src='/images/portfolio/13.jpg')
          .hover-mask
          .sr-only.project-description(data-images='/images/portfolio/13.jpg')
        article.project-item.creativa
          img.img-responsive.project-image(src='/images/portfolio/14.jpg')
          .hover-mask
          .sr-only.project-description(data-images='/images/portfolio/14.jpg')
        article.project-item.creativa
          img.img-responsive.project-image(src='/images/portfolio/1.jpg')
          .hover-mask
          .sr-only.project-description(data-images='/images/portfolio/1.jpg')