section#portfolio.add-padding
  .container
    h1.big-text.text-center.scrollimation.fade-in My Works
    // ==== Portfolio Filters ====
    #filter-works
      ul
        li.active.scrollimation.fade-right.d1
          a(href='#', data-filter='*') All
        li.scrollimation.fade-right
          a(href='#', data-filter='.identity') Identity
        li.scrollimation.fade-left
          a(href='#', data-filter='.logo') Logo
        li.scrollimation.fade-left.d1
          a(href='#', data-filter='.illustration') Illustration
    // End portfolio filters
    // ==== Project Preview ====
    #project-preview
      span.close-preview ×
      #project-slider.flexslider
      h1#project-title
      #project-content
    // Project Preview
  .container.masonry-wrapper
    #projects-container
        //- ==============================================
        //- SINGLE PROJECT ITEM
        //- =============================================== 
      article.project-item.illustration
        img.img-responsive.project-image(src='/images/thumb.png', alt='')
        // Project thumb
        .hover-mask
          h2.project-title Designer World
          // Project Title
          p illustration
          // Project Subtitle
        // ==== Project Preview HTML ====
        .sr-only.project-description(data-images='/images/slide.png,/images/slide.png')
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.
          p
            | Phasellus porta eros vel lacus euismod consequat. Phasellus eleifend, nibh non feugiat hendrerit, lacus enim adipiscing eros, a pharetra erat neque eget est. Quisque vitae aliquet urna. Integer suscipit lectus eu enim porttitor fringilla. Ut blandit, urna in auctor euismod, arcu eros pharetra metus, a porta purus libero a nibh.
          p
            | Nam eget urna pellentesque nisl ultrices dapibus. Mauris accumsan vehicula nisl, sed tempus mauris facilisis eu. Donec a iaculis nisi, quis malesuada justo. Pellentesque ut enim sit amet ipsum dignissim egestas. Morbi tincidunt rhoncus urna eget placerat.
          p.text-center
            a.btn.btn-color1(href='#external-link')
              i.fa.fa-arrow-right
              | Visit Website
        //- ==============================================
        //- END PROJECT ITEM
        //- =============================================== 
      article.project-item.identity.logo
        img.img-responsive.project-image(src='/images/thumb.png', alt='')
        // Project thumb
        .hover-mask
          h2.project-title Squirrel
          // Project Title
          p identity / logo
          // Project Subtitle
        // ==== Project Preview HTML ====
        .sr-only.project-description(data-images='/images/slide.png,/images/slide.png')
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.
          p
            | Phasellus porta eros vel lacus euismod consequat. Phasellus eleifend, nibh non feugiat hendrerit, lacus enim adipiscing eros, a pharetra erat neque eget est. Quisque vitae aliquet urna. Integer suscipit lectus eu enim porttitor fringilla. Ut blandit, urna in auctor euismod, arcu eros pharetra metus, a porta purus libero a nibh.
          p
            | Nam eget urna pellentesque nisl ultrices dapibus. Mauris accumsan vehicula nisl, sed tempus mauris facilisis eu. Donec a iaculis nisi, quis malesuada justo. Pellentesque ut enim sit amet ipsum dignissim egestas. Morbi tincidunt rhoncus urna eget placerat.
          p.text-right
            a.btn.btn-color1(href='#external-link')
              i.fa.fa-dribbble
              | View on Dribbble
      // End Project Item
      article.project-item.illustration
        img.img-responsive.project-image(src='/images/thumb.png', alt='')
        // Project thumb
        .hover-mask
          h2.project-title Radio Tape
          // Project Title
          p illustration
          // Project Subtitle
        // ==== Project Preview HTML ====
        .sr-only.project-description(data-images='/images/slide.png,/images/slide.png')
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.
          p
            | Phasellus porta eros vel lacus euismod consequat. Phasellus eleifend, nibh non feugiat hendrerit, lacus enim adipiscing eros, a pharetra erat neque eget est. Quisque vitae aliquet urna. Integer suscipit lectus eu enim porttitor fringilla. Ut blandit, urna in auctor euismod, arcu eros pharetra metus, a porta purus libero a nibh.
          p
            | Nam eget urna pellentesque nisl ultrices dapibus. Mauris accumsan vehicula nisl, sed tempus mauris facilisis eu. Donec a iaculis nisi, quis malesuada justo. Pellentesque ut enim sit amet ipsum dignissim egestas. Morbi tincidunt rhoncus urna eget placerat.
      // End Project Item
      article.project-item.identity
        img.img-responsive.project-image(src='/images/thumb.png', alt='')
        // Project thumb
        .hover-mask
          h2.project-title Austin Texas
          // Project Title
          p identity
          // Project Subtitle
        // ==== Project Preview HTML ====
        .sr-only.project-description(data-images='/images/slide.png,/images/slide.png')
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.
          p
            | Phasellus porta eros vel lacus euismod consequat. Phasellus eleifend, nibh non feugiat hendrerit, lacus enim adipiscing eros, a pharetra erat neque eget est. Quisque vitae aliquet urna. Integer suscipit lectus eu enim porttitor fringilla. Ut blandit, urna in auctor euismod, arcu eros pharetra metus, a porta purus libero a nibh.
          p
            | Nam eget urna pellentesque nisl ultrices dapibus. Mauris accumsan vehicula nisl, sed tempus mauris facilisis eu. Donec a iaculis nisi, quis malesuada justo. Pellentesque ut enim sit amet ipsum dignissim egestas. Morbi tincidunt rhoncus urna eget placerat.
          p.text-right
            a.btn.btn-color1(href='#external-link')
              i.fa.fa-dribbble
              | View on Dribbble
      // End Project Item
      article.project-item.logo
        img.img-responsive.project-image(src='/images/thumb.png', alt='')
        // Project thumb
        .hover-mask
          h2.project-title Red Glove
          // Project Title
          p logo
          // Project Subtitle
        // ==== Project Preview HTML ====
        .sr-only.project-description(data-images='/images/slide.png,/images/slide.png')
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.
          p
            | Phasellus porta eros vel lacus euismod consequat. Phasellus eleifend, nibh non feugiat hendrerit, lacus enim adipiscing eros, a pharetra erat neque eget est. Quisque vitae aliquet urna. Integer suscipit lectus eu enim porttitor fringilla. Ut blandit, urna in auctor euismod, arcu eros pharetra metus, a porta purus libero a nibh.
          p
            | Nam eget urna pellentesque nisl ultrices dapibus. Mauris accumsan vehicula nisl, sed tempus mauris facilisis eu. Donec a iaculis nisi, quis malesuada justo. Pellentesque ut enim sit amet ipsum dignissim egestas. Morbi tincidunt rhoncus urna eget placerat.
      // End Project Item
      article.project-item.logo
        img.img-responsive.project-image(src='/images/thumb.png', alt='')
        // Project thumb
        .hover-mask
          h2.project-title Checklist
          // Project Title
          p logo
          // Project Subtitle
        // ==== Project Preview HTML ====
        .sr-only.project-description(data-images='/images/slide.png,/images/slide.png')
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.
          p
            | Phasellus porta eros vel lacus euismod consequat. Phasellus eleifend, nibh non feugiat hendrerit, lacus enim adipiscing eros, a pharetra erat neque eget est. Quisque vitae aliquet urna. Integer suscipit lectus eu enim porttitor fringilla. Ut blandit, urna in auctor euismod, arcu eros pharetra metus, a porta purus libero a nibh.
          p
            | Nam eget urna pellentesque nisl ultrices dapibus. Mauris accumsan vehicula nisl, sed tempus mauris facilisis eu. Donec a iaculis nisi, quis malesuada justo. Pellentesque ut enim sit amet ipsum dignissim egestas. Morbi tincidunt rhoncus urna eget placerat.
          p.text-center
            a.btn.btn-color1(href='#external-link')
              i.fa.fa-arrow-right
              | Visit Website
      // End Project Item
      article.project-item.identity.logo
        img.img-responsive.project-image(src='/images/thumb.png', alt='')
        // Project thumb
        .hover-mask
          h2.project-title Music City
          // Project Title
          p identity / logo
          // Project Subtitle
        // ==== Project Preview HTML ====
        .sr-only.project-description(data-images='/images/slide.png,/images/slide.png')
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.
          p
            | Phasellus porta eros vel lacus euismod consequat. Phasellus eleifend, nibh non feugiat hendrerit, lacus enim adipiscing eros, a pharetra erat neque eget est. Quisque vitae aliquet urna. Integer suscipit lectus eu enim porttitor fringilla. Ut blandit, urna in auctor euismod, arcu eros pharetra metus, a porta purus libero a nibh.
          p
            | Nam eget urna pellentesque nisl ultrices dapibus. Mauris accumsan vehicula nisl, sed tempus mauris facilisis eu. Donec a iaculis nisi, quis malesuada justo. Pellentesque ut enim sit amet ipsum dignissim egestas. Morbi tincidunt rhoncus urna eget placerat.
          p.text-right
            a.btn.btn-color1(href='#external-link')
              i.fa.fa-dribbble
              | View on Dribbble
      // End Project Item
      article.project-item.illustration.logo
        img.img-responsive.project-image(src='/images/thumb.png', alt='')
        // Project thumb
        .hover-mask
          h2.project-title Black Rock
          // Project Title
          p illustration / logo
          // Project Subtitle
        // ==== Project Preview HTML ====
        .sr-only.project-description(data-images='/images/slide.png,/images/slide.png')
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.
          p
            | Phasellus porta eros vel lacus euismod consequat. Phasellus eleifend, nibh non feugiat hendrerit, lacus enim adipiscing eros, a pharetra erat neque eget est. Quisque vitae aliquet urna. Integer suscipit lectus eu enim porttitor fringilla. Ut blandit, urna in auctor euismod, arcu eros pharetra metus, a porta purus libero a nibh.
          p
            | Nam eget urna pellentesque nisl ultrices dapibus. Mauris accumsan vehicula nisl, sed tempus mauris facilisis eu. Donec a iaculis nisi, quis malesuada justo. Pellentesque ut enim sit amet ipsum dignissim egestas. Morbi tincidunt rhoncus urna eget placerat.
          p.text-center
            a.btn.btn-color1(href='#external-link')
              i.fa.fa-arrow-right
              | Visit Website
      // End Project Item
      article.project-item.illustration.identity
        img.img-responsive.project-image(src='/images/thumb.png', alt='')
        // Project thumb
        .hover-mask
          h2.project-title Coyote
          // Project Title
          p illustration / identity
          // Project Subtitle
        // ==== Project Preview HTML ====
        .sr-only.project-description(data-images='/images/slide.png,/images/slide.png')
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.
          p
            | Phasellus porta eros vel lacus euismod consequat. Phasellus eleifend, nibh non feugiat hendrerit, lacus enim adipiscing eros, a pharetra erat neque eget est. Quisque vitae aliquet urna. Integer suscipit lectus eu enim porttitor fringilla. Ut blandit, urna in auctor euismod, arcu eros pharetra metus, a porta purus libero a nibh.
          p
            | Nam eget urna pellentesque nisl ultrices dapibus. Mauris accumsan vehicula nisl, sed tempus mauris facilisis eu. Donec a iaculis nisi, quis malesuada justo. Pellentesque ut enim sit amet ipsum dignissim egestas. Morbi tincidunt rhoncus urna eget placerat.
          p.text-center
            a.btn.btn-color1(href='#external-link')
              i.fa.fa-arrow-right
              | Visit Website
      // End Project Item
    // End projects
  // End container
