.portfolio
  section#portfolio.add-padding
    .container
      h1.big-text.text-center.scrollimation.fade-in(data-i18n="main-nav.portfolio")
      #filter-works
        ul
          li.active.scrollimation.fade-right.d1
            a(href='#', data-filter='*') All
          li.scrollimation.fade-right
            a(href='#', data-filter='.identity') Identity
          li.scrollimation.fade-left
            a(href='#', data-filter='.logo') Logo
          li.scrollimation.fade-left.d1
            a(href='#', data-filter='.illustration') Illustration
      #project-preview
        span.close-preview ×
        #project-slider.flexslider
        #project-content
    .container.masonry-wrapper
      #projects-container
        article.project-item.illustration
          img.img-responsive.project-image(src='/images/portfolio/1.jpg')
          .hover-mask
          .sr-only.project-description(data-images='/images/portfolio/1.jpg')
        article.project-item.illustration
          img.img-responsive.project-image(src='/images/portfolio/2.jpg')
          .hover-mask
          .sr-only.project-description(data-images='/images/portfolio/2.jpg')
        article.project-item.illustration
          img.img-responsive.project-image(src='/images/portfolio/3.jpg')
          .hover-mask
          .sr-only.project-description(data-images='/images/portfolio/3.jpg')
        article.project-item.illustration
          img.img-responsive.project-image(src='/images/portfolio/4.jpg')
          .hover-mask
          .sr-only.project-description(data-images='/images/portfolio/4.jpg')
        article.project-item.illustration
          img.img-responsive.project-image(src='/images/portfolio/5.jpg')
          .hover-mask
          .sr-only.project-description(data-images='/images/portfolio/5.jpg')