.services
  section#services.add-padding
    div.container
      h1.section-title.big-text.scrollimation.fade-up(data-i18n="main-nav.services")
      div.row
        div.col-sm-4.service-item.color3.scrollimation.scale-in
          div.service-icon
            i.fa.fa-birthday-cake
          h3(data-i18n="services.first-title")
          p(data-i18n="services.first-text")
        div.col-sm-4.service-item.color1.scrollimation.scale-in.d1
          div.service-icon
            i.fa.fa-coffee
          h3(data-i18n="services.second-title")
          p(data-i18n="services.second-text")
        div.col-sm-4.service-item.color2.scrollimation.scale-in.d2
          div.service-icon
            i.fa.fa-wrench
          h3(data-i18n="services.third-title")
          p(data-i18n="services.third-text")