section#services.add-padding
  div.container
    h1.section-title.big-text.scrollimation.fade-up My Services
    div.row
      div.col-sm-4.service-item.color3.scrollimation.scale-in
        div.service-icon
          i.fa.fa-lightbulb-o
        h3 Brand Identity
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo.
      div.col-sm-4.service-item.color1.scrollimation.scale-in.d1
        div.service-icon
          i.fa.fa-desktop
        h3 Web Design
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo.
      div.col-sm-4.service-item.color2.scrollimation.scale-in.d2
        div.service-icon
          i.fa.fa-rocket
        h3 Rocket Science
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo.