section#twitter.add-padding.bg-color1
  div.container
    div.row.scrollimation.fade-in
      div.col-sm-1.twitter-icon
        i.fa.fa-twitter
      div.col-sm-11
        div#twitter-slider.flexslider(data-widget-id='581817272811036672', data-tweets-length='3')